.absolute-image {
	position: absolute;
	top: -6px;
	right: -8px;
	width: 12px;
	height: 12px;
	object-fit: fill;
}
.box {
	flex: 1;
	align-self: stretch;
}
.box2 {
	height: 1px;
	align-self: stretch;
	margin-bottom: 57px;
}
.box3 {
	width: 2px;
	height: 8px;
	background: #303030;
}
.button {
	width: 274px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #F0F0F0;
	border-radius: 100px;
	border: none;
	padding-top: 13px;
	padding-bottom: 13px;
	text-align: left;
}
.button2 {
	width: 308px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #FFFFFF;
	border-radius: 100px;
	border: 1px solid #F2665D;
	padding-top: 24px;
	padding-bottom: 24px;
	margin-right: 64px;
	text-align: left;
    color:  #F2665D;
}
.button3 {
	width: 308px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #F2665D;
	border-radius: 100px;
	border: none;
	padding-top: 24px;
	padding-bottom: 24px;
	text-align: left;
    color: white;
}
.column {
	width: 18px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-right: 72px;
	position: relative;
}
.column2 {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-right: 4px;
}
.contain {
	display: flex;
	flex-direction: column;
	background: #FFFFFF;
	font-size: var(--popins-body-copy-body-regular-size);
    color: var(--colour-primary-p4-text);
    font-family: var(--popins-body-copy-body-regular);
}
.image {
	width: 26px;
	height: 35px;
	margin-right: 5px;
	object-fit: fill;
}
.image2 {
	height: 19px;
	margin-top: 4px;
	align-self: stretch;
	object-fit: fill;
}
.image3 {
	width: 24px;
	height: 24px;
	object-fit: fill;
}
.image4 {
	width: 24px;
	height: 24px;
	margin-right: 52px;
	object-fit: fill;
}
.image5 {
	width: 24px;
	height: 24px;
	margin-right: 23px;
	object-fit: fill;
}
.image6 {
	width: 24px;
	height: 24px;
	margin-right: 10px;
	object-fit: fill;
}
.image7 {
	height: 76px;
	margin-top: 18px;
	align-self: stretch;
	object-fit: fill;
}
.image8 {
	width: 24px;
	height: 24px;
	margin-right: 9px;
	object-fit: fill;
}
.input {
	color: #C7C7C7;
	font-size: 15px;
	flex: 1;
	align-self: stretch;
	background: none;
	border: none;
	padding-top: 7px;
	padding-bottom: 7px;
}
.input2 {
	color: #303030;
	font-size: 17px;
	margin-bottom: 50px;
	margin-left: 68px;
	margin-right: 68px;
	align-self: stretch;
	background: #FFFFFF;
	border-radius: 8px;
	border: 1px solid #DCDCDC;
	padding: 30px 24px;
	box-shadow: 0px 4px 8px #00000008;
}
.input3 {
	color: #303030;
	font-size: 17px;
	margin-bottom: 50px;
	margin-left: 68px;
	margin-right: 68px;
	align-self: stretch;
	background: #FFFFFF;
	border-radius: 8px;
	border: 1px solid #DCDCDC;
	padding: 30px 25px;
	box-shadow: 0px 4px 8px #00000008;
}
.input4 {
	color: #303030;
	font-size: 17px;
	margin-bottom: 50px;
	margin-left: 68px;
	margin-right: 68px;
	align-self: stretch;
	background: #FAFAFA;
	border-radius: 8px;
	border: 1px solid #BBBBBB;
	padding: 27px 34px;
	box-shadow: 0px 0px 16px #00000008;
}
.input5 {
	color: #303030;
	font-size: 17px;
	margin-bottom: 64px;
	margin-left: 68px;
	margin-right: 68px;
	align-self: stretch;
	background: #FFFFFF;
	border-radius: 8px;
	border: 1px solid #DCDCDC;
	padding: 27px 24px;
	box-shadow: 0px 4px 8px #00000008;
}
.row-view {
	align-self: stretch;
	display: flex;
	align-items: center;
	background: #FFFFFF;
	padding: 11px 44px;
}
.row-view2 {
	width: 330px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #FFFFFF;
	border-radius: 100px;
	border: 1px solid #DCDCDC;
	padding-left: 16px;
	padding-right: 16px;
	margin-right: 42px;
}
.row-view3 {
	align-self: stretch;
	display: flex;
	align-items: center;
	margin-bottom: 32px;
	margin-left: 43px;
	margin-right: 43px;
}
.row-view4 {
	width: 18px;
	height: 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 6px;
	margin-right: 23px;
}
.row-view5 {
	align-self: stretch;
	display: flex;
	align-items: center;
	background: #D7EAFD;
	border-radius: 16px;
	padding: 32px;
	margin-bottom: 70px;
	margin-left: 44px;
	margin-right: 44px;
}
.row-view6 {
	align-self: stretch;
	display: flex;
	align-items: center;
	margin-bottom: 64px;
	margin-left: 75px;
	margin-right: auto;
}
.row-view7 {
	align-self: stretch;
	display: flex;
	align-items: center;
	background: #FAFAFA;
	border-radius: 16px;
	padding: 32px;
	margin-left: 44px;
	margin-right: 44px;
}
.scroll-view {
	height: 2354px;
	align-self: stretch;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: #FFFFFF;
}
.text {
	color: #303030;
	font-size: 17px;
	font-weight: bold;
	margin-right: 34px;
}
.text2 {
	color: #303030;
	font-size: 17px;
	font-weight: bold;
	margin-right: 35px;
}
.text3 {
	color: #303030;
	font-size: 17px;
	font-weight: bold;
}
.text4 {
	color: #303030;
	font-size: 17px;
	font-weight: bold;
	margin-right: 17px;
}
.text5 {
	color: #F2665D;
	font-size: 17px;
}
.text6 {
	color: #303030;
	font-size: 17px;
	font-weight: bold;
	margin-right: 15px;
}
.text7 {
	color: #52BB77;
	font-size: 17px;
	margin-right: 67px;
}
.text8 {
	color: #303030;
	font-size: 17px;
	font-weight: bold;
	margin-right: 16px;
}
.text9 {
	color: #303030;
	font-size: 17px;
	text-align: center;
}
.text10 {
	color: #303030;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 16px;
}
.text11 {
	color: #303030;
	font-size: 19px;
	font-weight: bold;
	margin-bottom: 21px;
}
.text12 {
	color: #303030;
	font-size: 17px;
}
.text13 {
	color: #000000;
	font-size: 19px;
	font-weight: bold;
	margin-bottom: 26px;
	margin-left: 77px;
}
.text14 {
	color: #000000;
	font-size: 19px;
	font-weight: bold;
	margin-bottom: 24px;
	margin-left: 77px;
}
.text15 {
	color: #000000;
	font-size: 19px;
	font-weight: bold;
	margin-bottom: 26px;
	margin-left: 76px;
}
.text16 {
	color: #F2665D;
	font-size: 17px;
	margin-right: 31px;
}
.text17 {
	color: #303030;
	font-size: 15px;
}
.text18 {
	color: #F2665D;
	font-size: 19px;
}
.text19 {
	color: #EEEEEE;
	font-size: 19px;
	font-weight: bold;
}
.view {
	width: 143px;
	display: flex;
	flex-direction: column;
	background: #303030;
	border-radius: 4px;
	padding-left: 6px;
	padding-right: 6px;
	margin-right: 103px;
}
.view2 {
	/* width: 255px; */
	display: flex;
	flex-direction: column;
	background: #FFFFFF;
	border-radius: 16px;
	padding-left: 89px;
	padding-right: 89px;
}