# Node.js and React
/frontend/node_modules/
/frontend/build/
iRecurit_App/staticfiles/


# Django
/iRecurit_App/.venv/
/iRecurit_App/.env/
/iRecurit_App/env/
/iRecurit_App/venv/
/iRecurit_App/db.sqlite3  # If you are using SQLite for local development
/iRecurit_App/staticfiles/
iRecurit_App/media/


# Python specific
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log
