.symbolIcon {
  height: 36.3px;
  width: 26.9px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.iChild,
.vectorIcon {
  width: 4.4px;
  position: relative;
}
.iChild {
  height: 4.4px;
  border-radius: 50%;
  background-color: var(--i-white);
}
.vectorIcon {
  height: 14px;
}
.i {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-12xs);
}
.vectorIcon1,
.vectorIcon2 {
  height: 18px;
  width: 14px;
  position: relative;
}
.vectorIcon2 {
  width: 11px;
}
.vectorIcon3,
.vectorIcon5 {
  height: 18.5px;
  width: 16.3px;
  position: relative;
  min-height: 19px;
}
.vectorIcon5 {
  height: 18.3px;
  width: 15.1px;
  min-height: 18px;
}
.vectorIcon6,
.vectorIcon7 {
  height: 18px;
  width: 4.4px;
  position: relative;
}
.vectorIcon7 {
  width: 13.9px;
}
.irecruitLogoSmall,
.logo,
.recruit {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.recruit {
  align-items: flex-start;
  gap: var(--gap-12xs);
}
.irecruitLogoSmall,
.logo {
  align-items: flex-end;
}
.logo {
  border-radius: var(--br-9xs);
  background-color: var(--colour-primary-p4-text);
  padding: var(--padding-9xs) var(--padding-7xs);
  gap: var(--gap-10xs);
  flex-shrink: 0;
}
.irecruitLogoSmall {
  padding: 0;
  gap: var(--gap-8xs-4);
  z-index: 1;
}
