.primary {
    position: relative;
    font-weight: 600;
  }
  .primaryButton {
    position: relative;
    border-radius: var(--br-81xl);
    background-color: var(--colour-primary-p1);
    width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 13.5px 50px;
    box-sizing: border-box;
    white-space: nowrap;
    text-align: left;
    font-size: var(--popins-ctas-primary-medium-size);
    color: var(--text-brand-on-brand);
    font-family: var(--popins-ctas-primary-medium);
  }
  @media screen and (max-width: 450px) {
    .primaryButton {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
  }
  