.description1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 31px;
  font-weight: 600;
  font-family: inherit;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.description3 {
  align-self: stretch;
  position: relative;
}
.content1,
.cts,
.description2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cts {
  font-size: var(--popins-body-copy-body-regular-size);
  color: var(--colour-primary-p4-text-light);
}
.content1 {
  border-radius: var(--br-base);
  background-color: var(--color-lavender-100);
  padding: var(--padding-13xl) var(--padding-base) var(--padding-25xl);
  gap: var(--gap-13xl);
}
.icondocument {
  display: none;
  min-height: 60px;
}
.iconblogs,
.icondocument,
.iconevents,
.iconjobDocument {
  height: 60px;
  width: 60px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.iconblogs,
.iconevents {
  min-height: 60px;
}
.content,
.icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.content {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-xs);
  gap: var(--gap-37xl);
}
.secondary {
  position: relative;
  display: inline-block;
  min-width: 54px;
}
.textLink {
  border-radius: var(--br-81xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-15xl) 0 0;
}
.iconarrows {
  height: var(--boundvariablesdata);
  width: var(--boundvariablesdata);
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.buttonGrid,
.cts1,
.textLinkParent {
  display: flex;
  align-items: flex-start;
}
.textLinkParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.buttonGrid,
.cts1 {
  flex-direction: column;
  justify-content: flex-start;
}
.cts1 {
  align-self: stretch;
  font-size: var(--popins-body-copy-body-regular-size);
}
.buttonGrid {
  width: 485px;
  box-shadow: var(--card-1);
  border-radius: var(--br-base);
  background-color: var(--colour-tertiary-t6-all-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  flex-shrink: 0;
  padding: var(--padding-11xl) var(--padding-12xl);
  gap: var(--gap-13xl);
  min-width: 320px;
  max-width: 100%;
  text-align: left;
  font-size: var(--popins-heading-heading-medium-size);
  color: var(--colour-secondary-s2);
  font-family: var(--popins-body-copy-body-regular);
}
@media screen and (max-width: 750px) {
  .description1 {
    font-size: var(--font-size-7xl);
    line-height: 25px;
  }
  .buttonGrid {
    gap: var(--gap-base);
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .description1 {
    font-size: var(--popins-sub-heading-subheader-size);
    line-height: 19px;
  }
  .content1,
  .cts {
    gap: var(--gap-base);
  }
  .content {
    gap: var(--gap-9xl);
  }
  .cts1 {
    gap: var(--gap-base);
  }
}
