.andWelcomeTo {
  color: var(--colour-primary-p4-text);
}
.helloVidhiAndContainer,
.thisPlatformIs {
  width: 968px;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.helloVidhiAndContainer {
  margin: 0;
  font-size: inherit;
  line-height: 31px;
  font-weight: 600;
  font-family: inherit;
}
.thisPlatformIs {
  font-size: var(--popins-body-copy-body-regular-size);
  color: var(--colour-primary-p4-text);
}
.content {
  align-self: stretch;
  border-radius: var(--br-base);
  background-color: #ffeceb;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-45xl) var(--padding-xl) var(--padding-45xl)
    var(--padding-96xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  max-width: 100%;
  color: var(--colour-primary-p1);
}
.unleashTheFull {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 64px;
  font-weight: 600;
  font-family: inherit;
}
.ofCandidatesWho {
  position: relative;
  line-height: 16px;
}
.ofCandidatesWhoCompletedThWrapper {
  border-radius: var(--br-81xl);
  background-color: var(--color-lavender);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--popins-body-copy-body-regular1-size);
  color: var(--colour-secondary-s2);
}
.unleashTheFullPotentialOfParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  max-width: 100%;
}
.primary {
  position: relative;
  font-weight: 600;
}
.primaryButton {
  border-radius: var(--br-81xl);
  background-color: var(--colour-primary-p1);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 13.5px 50px;
  white-space: nowrap;
}
.secondary {
  position: relative;
}
.primaryButtonParent,
.secondaryButton {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.secondaryButton {
  border-radius: var(--br-81xl);
  background-color: var(--colour-tertiary-t6-all-white);
  border: 1px solid var(--colour-primary-p1);
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-xs) 76px;
  white-space: nowrap;
  color: var(--colour-primary-p1);
}
.primaryButtonParent {
  justify-content: flex-start;
  gap: var(--gap-45xl);
  max-width: 100%;
  font-size: var(--popins-sub-heading-subheader-size);
  color: var(--text-brand-on-brand);
}
.frameChild,
.frameItem {
  position: absolute;
  top: 384px;
  left: 0;
  width: 1085.1px;
  height: 1013px;
  object-fit: contain;
}
.frameItem {
  left: 372px;
  width: 1208.9px;
  height: 1144.5px;
  z-index: 1;
}
.rightIcon {
  position: absolute;
  top: 62px;
  left: 1133px;
  width: 469px;
  height: 635px;
  overflow: hidden;
  z-index: 3;
}
.vectorParent {
  width: 1602px;
  height: 732px;
  /* position: absolute; */
  margin: 0 !important;
  right: -334px;
  bottom: -325px;
}
.benefitsContainer,
.benefitsContainerWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.benefitsContainer {
  width: 1191px;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-45xl);
  z-index: 2;
}
.benefitsContainerWrapper {
  width: 1421px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 199px;
  box-sizing: border-box;
  font-size: var(--popins-heading-hero-text-size);
}
.description {
  position: relative;
  display: inline-block;
  min-width: 112px;
}
.footerText {
  flex-direction: row;
  padding: var(--padding-9xs) 0;
  z-index: 1;
  text-align: center;
  font-size: var(--popins-body-copy-body-regular-size);
}
.contentContainer,
.contentContainerWrapper,
.footerText,
.root {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contentContainer {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-45xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--popins-heading-heading-medium-size);
  color: var(--colour-primary-p4-text);
  font-family: var(--popins-body-copy-body-regular);
}
.contentContainerWrapper,
.root {
  box-sizing: border-box;
}
.contentContainerWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-25xl);
  max-width: 100%;
}
.root {
  width: 100%;
  position: relative;
  background-color: var(--colour-tertiary-t6-all-white);
  overflow: hidden;
  flex-direction: column;
  padding: 0 0 var(--padding-12xl);
  gap: var(--gap-25xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .content {
    padding-left: var(--padding-38xl);
    box-sizing: border-box;
  }
  .benefitsContainer {
    gap: var(--gap-13xl);
  }
}
@media screen and (max-width: 1050px) {
  .helloVidhiAndContainer {
    font-size: var(--font-size-7xl);
    line-height: 25px;
  }
  .unleashTheFull {
    font-size: 35px;
    line-height: 51px;
  }
  .contentContainerWrapper {
    padding-left: var(--padding-3xl);
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .content {
    padding-left: var(--padding-9xl);
    box-sizing: border-box;
  }
  .primaryButtonParent {
    flex-wrap: wrap;
    gap: var(--gap-13xl);
  }
  .benefitsContainer {
    gap: var(--gap-base);
  }
  .benefitsContainerWrapper {
    padding-bottom: 129px;
    box-sizing: border-box;
  }
  .contentContainer {
    gap: var(--gap-13xl);
  }
}
@media screen and (max-width: 450px) {
  .helloVidhiAndContainer {
    font-size: var(--popins-sub-heading-subheader-size);
    line-height: 19px;
  }
  .unleashTheFull {
    font-size: var(--font-size-7xl);
    line-height: 38px;
  }
  .primaryButton,
  .secondaryButton {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .contentContainer,
  .primaryButtonParent {
    gap: var(--gap-base);
  }
  .root {
    gap: var(--gap-3xl);
  }
}
