.root {
    width: 100%;
    box-shadow: var(--card-1);
    border-radius: 16px;
    background-color: var(--colour-tertiary-t6-all-white);
    border: 1px solid var(--colour-tertiary-t1-text-default);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 46px var(--padding-xl);
    gap: 30.2px;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    font-size: var(--popins-ctas-tertiary-medium-size);
    color: var(--colour-primary-p4-text);
    font-family: var(--popins-body-copy-body-regular);
  }



.sitBack {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-weight: 500;
    font-family: inherit;
    font-size: var(--popins-sub-heading-subheader-size);
  }
  .thisShouldTake {
    margin: 0;
  }
  .thisShouldTakeContainer {
    align-self: stretch;
    position: relative;
    font-size: var(--popins-body-copy-body-medium-size);
    color: var(--colour-primary-p4-text-light);
    padding-left: 48px;
    padding-right: 48px;
  }
  .sitBackAndSeeTheMaParent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 29px;
    text-align: center;
    font-size: var(--popins-ctas-primary-medium-size);
    color: var(--colour-primary-p4-text);
    font-family: var(--popins-body-copy-body-medium);
    
    
  }
  .secondaryButtonWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    color: var(--colour-primary-p1);
  }
  .screenrecording20240124at22Icon {
    width: 410px;
    position: relative;
    border-radius: 51px;
    max-height: 100%;
    object-fit: cover;
    max-width: 100%;
  }
  .resumeAnalysisPowered {
    align-self: stretch;
    position: relative;
    line-height: 16px;
    font-size: var(--popins-body-copy-body-regular-size);
    color: var(--colour-primary-p4-text-light);
  }
  .d,
  .resumeAnalysisPoweredByIreWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .resumeAnalysisPoweredByIreWrapper {
    align-self: stretch;
    padding: 0 var(--padding-4xl);
  }
  .d {
    width: 854px;
    box-shadow: var(--card-1);
    border-radius: var(--br-base);
    background-color: var(--colour-tertiary-t6-all-white);
    border: 1px solid var(--colour-tertiary-t1-text-default);
    box-sizing: border-box;
    max-width: 100%;
    padding: var(--padding-27xl) 72px 26px;
    gap: var(--gap-13xl);
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    font-size: var(--popins-body-copy-body-regular-size);
    color: var(--colour-primary-p4-text-light);
    font-family: var(--popins-body-copy-body-medium);
  }
  @media screen and (max-width: 426px) {
    .d {
      gap: var(--gap-base);
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 390px) {
    .secondaryButtonWrapper {
      gap: var(--gap-13xl);
    }
  }



  
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
  }
  
  .modalContent {
    border-radius: 8px;
    padding: 20px;
    max-width: 60%;
    width: 100%;
    position: relative;
  }
  
  .closeButton {
    position: absolute;
    top: 30px;
    right: 40px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .modalBody {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  